<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://matif.dev/iptvmanager"
        version="1.0.0"
        viewmodes="fullscreen">

  <tizen:application
      id="AbCdEfGhIj.IPTVManager"
      package="AbCdEfGhIj"
      required_version="6.0"
      launch_mode="single"/>

  <name>IPTV Manager</name>
  <description>IPTV Manager for Samsung TV</description>

  <author href="https://github.com/nico89-exp/IPTV-Tizen-TV">
    IPTV Manager
  </author>

  <icon src="images/icon.png"/>

  <content src="index.html"/>

  <!-- Internet -->
  <tizen:privilege name="http://tizen.org/privilege/internet"/>

  <!-- Samsung remote control -->
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

  <!-- Allow IPTV/Xtream/M3U servers -->
  <access origin="*" subdomains="true"/>

  <tizen:content-security-policy>
    default-src 'self' data: blob: http: https:;
    script-src 'self' 'unsafe-inline' 'unsafe-eval' http: https:;
    style-src 'self' 'unsafe-inline' http: https:;
    img-src 'self' data: blob: http: https:;
    media-src 'self' data: blob: http: https:;
    connect-src 'self' data: blob: http: https:;
    font-src 'self' data: http: https:;
  </tizen:content-security-policy>

  <tizen:profile name="TV"/>

</widget>
